<dl class="dl-horizontal">
    <dt>Naam</dt>                  <dd>{{input type="text" value=model.naam}}</dd>
    <dt>Opmerkingen</dt>           <dd>{{textarea value=model.opmerkingen}}</dd>
</dl>

<p><button {{action 'deleteLocatie'}}>Delete</button></p>